* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box; /*фиксира размера, за да не се променят разстоянията*/
}

body {
    /*background-color: #240018;*/
    /*animation: fly-up 1s ease-out;*/
    /*animation-fill-mode: both;*/
    /*opacity: 0;*/
}

.daniLogo {
    width: 8%;
    height: auto;
    /*scale: 50%;*/
}


.nav-link {
    font-size: 20px;
    transition: 0.2s;
}

.nav-link:hover {
    color: #c94312 !important;
}

.navbar {
    /*background-color: #423C5E !important;*/
    /*background-color: #2E2E3A;*/
    background-color: #240018;
}

#myVideo {
    filter: brightness(80%);
}

.navbar-brand {
    width: 40%;
    height: auto;
}

.video-container {
    position: relative;
}

.video-container video {
    width: 100%;
    height: auto;
}

.overlay p{
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 1.5em;
    padding: 10px;
    color: bisque;
}


@keyframes fly-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h3, h4 {
    color: orange;
}


.text-decoration-none {
    position: relative;
    display: inline-block;
    color: green;

}

.text-decoration-none:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.text-decoration-none:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    /*background-color: #240018 !important;*/
}

