* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box; /*фиксира размера, за да не се променят разстоянията*/
}
body {
    /*background-color: #240018;*/
}

.daniLogo{
    width: 10%;
    height: auto;
}

.nav-link{
    font-size: 20px;
    transition: 0.2s;
}
.nav-link:hover{
    color: #c94312 !important;
}
.navbar{
    /*background-color: #423C5E !important;*/
   /*background-color: #2E2E3A;*/
   background-color: #240018;
}
#myVideo{
    filter: brightness(80%);
}
.navbar-brand{
    width: 40%;
    height: auto;
}

.video-container {
  position: relative;
}

.video-container video {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 65%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


